<div class="main">
  <div class="title flex justify-content-center"><h1>Registro Mantenimiento Diario</h1></div>

  <div class="card flex justify-content-between m-5 search">
    <div class="flex justify-items-start">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          class="filter-global"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Buscar...."
        />
      </span>
    </div>

    <p-button
      class="newUser"
      (onClick)="createMaintenance()"
      label="Registro de Atención"
      styleClass="p-button-primary"
    ></p-button>
  </div>

  <div class="mx-3">
    <p-table
      #dt
      [globalFilterFields]="[
        'road.name',
        'activity.name',
        'mayoralty.name',
        'program.name',
        'coordinateX',
        'coordinateY',
        'streetlights',
        'pedestrianLighting',
        'luminariesInService',
        'zone.name',
        'type.name'
      ]"
      [value]="maintenanceList"
      [loading]="loading"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 50]"
      [tableStyle]="{ 'min-width': '60rem', 'height': '32rem' }"
      scrollable="true"
      [scrollHeight]="'30rem'"
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Vialidad</th>
          <th scope="col">Actividad</th>
          <th scope="col">Alcaldia</th>
          <th scope="col">Programa</th>
          <th scope="col">Coordenada X</th>
          <th scope="col">Coordenada Y</th>
          <th scope="col">PDLs Viales</th>
          <th scope="col">PDLs Peatonales</th>
          <th scope="col">PDLs en Servicio</th>
          <th scope="col">Zona/Cuadrante</th>
          <th scope="col">Tipo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-maintenance>
        <tr>
          <td>{{ maintenance.road.name }}</td>
          <td>{{ maintenance.activity.name }}</td>
          <td>{{ maintenance.mayoralty.name }}</td>
          <td>{{ maintenance.program.name }}</td>
          <td>{{ maintenance.coordinateX }}</td>
          <td>{{ maintenance.coordinateY }}</td>
          <td>{{ maintenance.streetlights }}</td>
          <td>{{ maintenance.pedestrianLighting }}</td>
          <td>{{ maintenance.luminariesInService }}</td>
          <td>{{ maintenance.zone.name }}</td>
          <td>{{ maintenance.type.name }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center">No se encontraron registros.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [header]="dialogTitle"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '40rem' }"
  >

    <div class="flex justify-content-center align-items-center gap-2 mb-4">
      <p-radioButton
        (ngModelChange)="getRoadsByType($event)"
        name="type"
        [value]="true"
        [(ngModel)]="radioValue"
        inputId="rvp" />
      <label for="rvp" class="ml-2">
        Red Vial Primaria
      </label>
      <p-radioButton
        (ngModelChange)="getRoadsByType($event)"
        name="type"
        [value]="false"
        [(ngModel)]="radioValue"
        inputId="rvs" />
      <label for="rvs" class="ml-2">
        Red Vial Secundaria
      </label>
    </div>
    <div *ngIf="!load" class="flex align-items-center gap-3 mb-3">
      <label for="road" class="font-semibold w-6rem"> Vialidad </label>
      <p-dropdown
        (onChange)="showMayoralty()"
        id="road"
        [options]="roads"
        class="flex-auto"
        [(ngModel)]="maintenance.road"
        optionLabel="name"
        placeholder="Vialidad"
        [style]="{ width: '100%' }"
      ></p-dropdown>
    </div>
    <div *ngIf="!load" class="flex flex-column gap-2 mb-3">
      <label for="mayoralty" class="font-semibold w-6rem"> Alcaldia </label>
      <input
        placeholder="Alcaldia"
        pInputText
        id="mayoralty"
        disabled
        value="{{maintenance?.mayoralty?.name}}"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="zone" class="font-semibold w-6rem">Zona / Cuadrante</label>
      <p-dropdown
        id="zone"
        [options]="zones"
        class="flex-auto"
        [(ngModel)]="maintenance.zone"
        optionLabel="name"
        placeholder="Zona/Cuadrante"
        [style]="{ width: '100%' }"
      ></p-dropdown>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="activity" class="font-semibold w-6rem">Actividad Realizada</label>
      <p-dropdown
        id="activity"
        [options]="activities"
        class="flex-auto"
        [(ngModel)]="maintenance.activity"
        optionLabel="name"
        placeholder="Actividad Realizada"
        [style]="{ width: '100%' }"
      ></p-dropdown>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="area" class="font-semibold w-6rem"> Tipo </label>
      <p-dropdown
        id="area"
        [options]="types"
        class="flex-auto"
        [(ngModel)]="maintenance.type"
        optionLabel="name"
        placeholder="Tipo"
        [style]="{ width: '100%' }"
      ></p-dropdown>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="area" class="font-semibold w-6rem"> Programa </label>
      <p-dropdown
        id="program"
        [options]="programs"
        class="flex-auto"
        [(ngModel)]="maintenance.program"
        optionLabel="name"
        placeholder="Programa"
        [style]="{ width: '100%' }"
      ></p-dropdown>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="name" class="font-semibold w-6rem">Coordenada X</label>
      <input
        pInputText
        id="name"
        class="flex-auto"
        [(ngModel)]="maintenance.coordinateX"
        autocomplete="off"
        placeholder="Coordenada X"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="name" class="font-semibold w-6rem">Coordenada Y</label>
      <input
        pInputText
        id="name"
        class="flex-auto"
        [(ngModel)]="maintenance.coordinateY"
        autocomplete="off"
        placeholder="Coordenada Y"
      />
    </div>
    <div class="flex align-items-center gap-2 mb-2">
      <label for="streetlights" class="font-semibold w-6rem">Luminarios Viales</label>
      <p-inputNumber
        [(ngModel)]="maintenance.streetlights"
        inputId="minmax"
        [min]="0"
        id="streetlights"
        placeholder="Luminarios Viales"
        />
    </div>
    <div class="flex align-items-center gap-2 mb-2">
      <label for="pedestrianLighting" class="font-semibold w-6rem">Luminarios Peatonales</label>
      <p-inputNumber
        [(ngModel)]="maintenance.pedestrianLighting"
        inputId="pedestrian"
        [min]="0"
        id="pedestrianLighting"
        placeholder="Luminarios Peatonales"
      />
    </div>
    <div class="flex align-items-center gap-2 mb-2">
      <label for="luminariesInService" class="font-semibold w-6rem">Luminarios en Servicio</label>
      <p-inputNumber
        [(ngModel)]="maintenance.luminariesInService"
        inputId="luminariesInService"
        [min]="0"
        id="luminariesInService"
        placeholder="Luminarios en Servicio"
      />
    </div>
    <div class="flex justify-content-between gap-2 mt-4">
      <p-button
        label="Cancelar"
        styleClass="buttonDialog"
        (onClick)="visible = false"
      ></p-button>
      <p-button
        label="Guardar"
        (onClick)="saveMaintenance()"
        styleClass="buttonDialog"
        [disabled]="
          !maintenance.road ||
          !maintenance.activity ||
          !maintenance.program ||
          !maintenance.type ||
          !maintenance.coordinateX ||
          !maintenance.coordinateY ||
          !maintenance.streetlights ||
          !maintenance.pedestrianLighting ||
          !maintenance.luminariesInService ||
          !maintenance.mayoralty ||
          !maintenance.zone
        "
      ></p-button>
    </div>
  </p-dialog>
</div>
<app-log-view
  *ngIf="showLogs"
  [table]="table"
  [entity]="entity"
  (onClose)="handleClose($event)"
></app-log-view>
