<div class="main">
  <div class="title" style="margin-bottom: 20px"><h1>Reportes</h1></div>
  <div class="card flex justify-content-start m-2 search">
    <p class="mr-4 ">Del:</p>
    <p-calendar
      class="border-2 border-black"
      placeholder="Fecha inicial"
      [(ngModel)]="reportRequest.startDate"
      [showClear]="true"
    />
    <p class="mx-4 label">Al:</p>
    <p-calendar
      class="border-2 border-black"
      placeholder="Fecha final"
      [(ngModel)]="reportRequest.endDate"
      [showClear]="true"
    />
    <div class="mx-4">
    <label for="basic-url" class="form-label">Almacen: </label>
    <p-dropdown
      [options]="depots"
      [(ngModel)]="reportRequest.depot"
      placeholder="Selecciona un almacen"
      [editable]="true"
      class="border-2 border-black select"
      optionLabel="name"
      [showClear]="true"
    />
    </div>
    <div class="mx-4">
    <label for="basic-url" class="form-label">Área: </label>
    <p-dropdown
      [showClear]="true"
      [options]="areas"
      [(ngModel)]="reportRequest.area"
      placeholder="Selecciona un area"
      [editable]="true"
      class="border-2 border-black select"
      optionLabel="name"
    />
    </div>
  </div>
  <div>
    <div class="buttons-container">
    <button
      class="createDocument"
      (click)="getReport()"
    >Buscar</button>
    <button class="createDocument" (click)="exportExcel()">
        Descargar Reporte
    </button>
    </div>
  </div>
  <!-- Buscador -->
  <div class="flex justify-items-start">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          class="filter-global"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Buscar...."
        />
      </span>
  </div>
  <div class="card m-3">
    <p-table
      #dt
      [globalFilterFields]="['folio', 'date', 'depot.name', 'userDispatcher.name', 'userReceiver.name', 'io']"
      [value]="movements"
      [paginator]="true"
      [rows]="10"
      [tableStyle]="{ 'min-width': '60rem', 'height': '30rem' }"
      [rowsPerPageOptions]="[10, 20, 50]"
      [loading]="loading"
      scrollable="true"
      [scrollHeight]="'28rem'"
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Vialidad</th>
          <th scope="col">Actividad</th>
          <th scope="col">Alcaldia</th>
          <th scope="col">Zona</th>
          <th scope="col">Programa</th>
          <th scope="col">Coordenada X</th>
          <th scope="col">Coordenada Y</th>
          <th scope="col">PDLs Viales</th>
          <th scope="col">PDLs Peatonales</th>
          <th scope="col">PDLs en Servicio</th>
          <th scope="col">Zona/Cuadrante</th>
          <th scope="col">Tipo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entry>
        <tr>
          <td>{{ entry.folio }}</td>
          <td>{{ entry.date }}</td>
          <td>{{ entry.depot.name }}</td>
          <td>{{ entry.userDispatcher.name }}</td>
          <td>{{ entry.userReceiver.name }}</td>
          <td>{{ entry.io? "Entrada" : "Salida" }}</td>
          <td class="text-center">
            <p-button
              (click)="viewLogs(entry.idMaterialManagement)"
              icon="pi pi-book"
              styleClass="p-button-text p-button-danger"
            ></p-button>
            <p-button
              (click)="getPDF(entry)"
              icon="pi pi-receipt"
              styleClass="p-button-text"
              [style]="{ 'margin-right': '.5rem' }"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center">No se encontraron registros</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<app-log-view
  *ngIf="showLogs"
  [table]="table"
  [entity]="entity"
  (onClose)="handleClose($event)"
></app-log-view>
