.avatar {
  margin-top: 2vh;
}

.container {
  border: 1px solid var(--surface-border);
  margin-left: 2px;
position: fixed;
z-index: 2000;
}

.title {
  margin-bottom: 20px;
}

.usuario{
  background-color: white;
}