<div>
  <header *ngIf="!isLoginPage">
    <button  *ngIf="isMobile" (click)="toggleSidebar()" class="p-button p-button-rounded p-button-text menu">
      <i class="pi pi-bars"></i>
    </button>
    <img src="assets\logo.png" alt="logo" width="200">
  </header>
  <div class="mainComponent">
  <div>
<app-sidebar-movil-view *ngIf="!isLoginPage && isMobile"/>
<app-sidebar-view *ngIf="!isLoginPage && !isMobile"/>  </div>
    <div style="flex: 1">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>
  <footer *ngIf="!isLoginPage">
    <div>
      <h4>Diseñado y Operado por el Área de Tecnologias de la Información de la Dirección de Alumbrado Público</h4>
    </div>
  </footer>
  </div>
</div>
